{% extends "master.html" %}

{% block title %} Checkout {% endblock %}

{% block heading %} Checkout {% endblock %}

{% block extrahead %}
<script>
  function CCProcess(){
    // Change text and disable button to prevent reclick
    document.getElementById("purchase").textContent = "Processing"
    document.getElementById("purchase").disabled = true;

    // Get data from forms
    ccnum = document.getElementById("ccnum").value
    expr = document.getElementById("exdate").value
    cvv = document.getElementById("cvv").value

    // Summit data to processcard
    xhttp = new XMLHttpRequest();

    // Setup what happens when call is done
    xhttp.onreadystatechange = function () {
        if(xhttp.responseText == "0"){
          window.location.href = "/thanks"
        }
    }

    xhttp.open("POST", "/processcard", true);
    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhttp.send("card=" + ccnum + "&expr=" + expr+ "&cvv=" + cvv);





  }
</script>
{% endblock %}

{% block content %}

<table border="1">
{% for product in products %}
    <tr>
      <td> <a href='/product/{{product.ID}}'>{{product.ID}}</a> </td>
      <td> {{product.name}} </td>
      <td> ${{ product.getPriceStr() }} </td>
      <td> {{ product.description }} </td>
      <td> {% for tag in product.tags %} <b>{{tag}}</b> {% endfor %}</td>
    </tr>
{% endfor %}
</table>

<p><b>Subtotal:</b> ${{subtotal}}</p>
<p><b>Tax:</b> ${{tax}}</p>
<p><b>Total:</b> ${{total}}</p>
<br>

<form>
  <span id=ccnum_text>Credit Card Number:</span> <input id='ccnum' type=text>
  <br><br>

  <span id='exdate_text'>Expiration Date:</span> <input id='exdate' type='text'>
  <br><br>

  <span id='cvv_text'>CVV:</span> <input id='cvv'>
  <br><br>

</form>
<button id='purchase' onclick='CCProcess()'>Purchase</button>


{% endblock %}
