{% extends "master.html" %}

{% block title %} Cart {% endblock %}

{% block heading %} Cart {% endblock %}

{% block content %}

<table border="1">
{% for product in products %}
    <tr>
      <td> <a href='/product/{{product.ID}}'>{{product.ID}}</a> </td>
      <td> {{product.name}} </td>
      <td> ${{ product.getPriceStr() }} </td>
      <td> {{ product.description }} </td>
      <td> {% for tag in product.tags %} <b>{{tag}}</b> {% endfor %}</td>
    </tr>
{% endfor %}
</table>

<p><b>Subtotal:</b> ${{subtotal}}</p>
<p><b>Tax:</b> ${{tax}}</p>
<p><b>Total:</b> ${{total}}</p>
<button onclick='window.location.href = "/checkout";'>Proceed to Checkout</button>

{% endblock %}
