{% extends "master.html" %}

{% block title %} {{product.name|safe}} {% endblock %}

{% block extrahead %}
  <script>
    productID = "{{product.ID|safe}}"

    var regexp = new RegExp("(?:^" + "visit" + "|;\s*"+ "visit" + ")=(.*?)(?:;|$)", "g");
    var result = regexp.exec(document.cookie);
    visitID = (result === null) ? null : result[1];


    function addToCart(){
      xhttp = new XMLHttpRequest();
      xhttp.open("POST", "/cartadd", true);
      xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      xhttp.send("p=" + productID + "&id=" + visitID);
      alert(productID + "Added to cart")
    }
  </script>
{% endblock %}

{% block heading %} {{product.name|safe}} {% endblock %}

{% block content %}
  <h1>{{product.name|safe}}</h1>
  <p>{{product.description|safe}}</p>
  <p color="blue">${{product.getPriceStr()|safe}}</p>
  <p>Tags:

  {% for tag in product.tags %}
    {{tag}}
  {% endfor %}

<br>
<br>
<button onclick="addToCart()">Add To Cart</button>


  </p>
{% endblock %}
